<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block siteTitle %}{% endblock %}</title>
    <!-- Compiled and minified jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-deep_purple.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <style>
        .page-content {
            width: 79%;
            margin: auto;
        }
    </style>
{% block headExtras %}

{% endblock %}
</head>
<body>


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{% block pageTitle %}{% endblock %}</span>
            <div class="mdl-layout-spacer"></div>
            {% block appbar_actions %}{% endblock %}
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Energia Prepaga</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{% url "SociosList" %}">Socios</a>
            <a class="mdl-navigation__link" href="{% url "TerrenosList" %}">Terrenos</a>
            <a class="mdl-navigation__link" href="{% url "TarifasList" %}">Tarifas</a>
            <a class="mdl-navigation__link" href="{% url "CespList" %}">Cesp</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">{% block pageContent %}{% endblock %}</div>
    </main>
</div>

</body>
</html>